@{
    ViewBag.Title = "Confirmação da recuperação de senha";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Sua senha foi resetada. Por favor, @Html.ActionLink("clique aqui para realizar o  log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })

    </p>
</div>
