@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>


<address>
    Av. Prof. João Rodrigues Alckmin<br />
    1501, Jd. Esperança, Guaratinguetá – SP<br />
    <abbr title="Phone">Telefone:</abbr>
    (12) 3126-2643 / 3125-6905 
</address>

<address>
    <strong>Site:</strong> <a href="http://fatecguaratingueta.edu.br/">FATEC Guaratingueta</a><br />
    
</address>